body{
display:block;
font-family:Arial;
font-size:0.91em;
background-image:url('../images/pattern.jpg');
background-color:rgb(194, 203, 213);
min-width:1000px;
max-width:1000px;
margin-left:auto;
margin-right:auto;
}

div#events, div#todolist{
float:right;
width:320px;
margin:10px;
padding:0;
border-radius:10px;
background-color:rgba(242,243,229,.7);
box-shadow: 4px 4px 10px #fff;
word-wrap: break-word;
}
div#menubar{
float:left;
width:250px;
margin:10px;
padding:0;
border-radius:10px;
background-color:rgba(242,243,229,.7);
box-shadow: 4px 4px 10px #fff;
word-wrap: break-word;
}
div#courseview{
float:right;
width:695px;
min-height:400px;
margin:10px;
padding:0;
border-radius:10px;
background-color:rgba(242,243,229,.7);
box-shadow: 4px 4px 10px #fff;
word-wrap: break-word;
}
div#courseview ul{
list-style: none;
margin:0;
padding:10px;
}
div.session{
border-left:1px solid #000000; /* couleur du cadre */
border-right:1px solid #000000;
border-bottom:1px solid #000000;
border-top:1px solid #000000;
}
div.topic{
margin:30px;
}
div#menubar ul{
list-style: square;
margin:10px;
}
div#menubar ul li{
list-style: square;
padding:10px;
}
div#events ul{
list-style: square;
margin-left:10px;
font-size:12px;
margin:10px;
padding:10px;
}
/*
div#events li.top {
list-style: none;
}
div#events ul.list li, div#events li.last {
list-style: square;
margin-left:10px;
font-size:10px;
}*/
div#events div{
padding:0;
margin:0;
margin-top:0.31em;
padding-top:0.31em;
padding-left:0.31em;
border-bottom: solid #000 1px;
}
div#calendar{
float:left;
border-radius:10px;
box-shadow: 4px 4px 10px #fff;
}
#calBig.grid{
height:650px;
max-height:650px;
}
#calDays{
/*max-height:700px;*/
}
div#events strong{
	font-family:Courier;
	font-size:11px;
}
div.deadline{
border-left:solid #d13f34 5px;
border-top:solid #d13f34 1px;
border-bottom:solid #d13f34 1px;
}
h3#eventtitle, h3#todotitle, h3#menutitle{
    text-align:center;
    font-family:Arial;
}
div#menu{
	width: 1000px;
	padding:0;
	margin 10px;
	border-radius:10px;
	background-color:rgba(242,243,229,.7);
	box-shadow: 4px 4px 10px #fff;
	word-wrap: break-word;
}
div#menu ul{
	padding:0;
	margin:0;
	height: 1.61em;
}
div#menu li{
	float: left;
	height: 1.61em;
	width: 100px;
	text-align: center;
	list-style:none;
	border-right: 2px solid white;
}
div#menu a, div.menu a:visited{
	color:#000;
	text-decoration:none;
}
div#menu li:hover{
	background-color:rgba(212,213,199,1)
}
div#menu li:first-child:hover{
	background:none;
}

div#login{
margin: 10px;
padding:0px;
text-align:center;
}

footer{
float:bottom;
}

span.task_description {
font-weight:bold;
padding-top:0.8em;
padding-bottom:0em;
margin:0;
}

span.p1{
color:red;
}

span.p2{
color:orange;
}

span.p3:{
color:black;
}

div.task_description, div.task_description p{
margin:0;
padding:0;
}
div.todolist li{
list-style-type: square;
}
li.task{
font-size:0.91em;
list-style-type: square;
padding-bottom:0.61em;
}

input.buttoncourse{
width:190px;
}

div#menubar ul li {
list-style-type: none;
margin:0;
padding:0;
text-align:center;
}
div#latex{
    max-height:260px;
    overflow:auto;
    background:#ADC2FF;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom : 10px;
    padding-top : 10px;

    }
    
.mini {
font-size:10pt;
}
.caps {
font-variant:small-caps;
}
.topic{
	font-size:14pt;
}
.resize{
	max-height: 200px;
	font-size: 11pt;
}
div.desc{
	font-size:10pt;
	margin-left:1em;
	padding-bottom:0.61em;
	border-bottom:solid 3px #fff;
	background-color:#fbd;
	margin-bottom:10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
div.TODOLIST h1,h2,h3,h4{
	margin:0.21em;
	padding:0.11em;

}
div.TODOLIST,div.TASK,div.ACT{
	padding:0.51em;
	padding-right:1em;
	margin-right:1em;

}
div.TODOLIST ul, div.TODOLIST ul li{
	list-style-type: none;
}

div.TASK{
	background-color:#feb;
	margin-bottom:0.21em;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
div.ACT{
	background-color:#fff;
	margin-bottom:0.61em;
	-webkit-border-top-right-radius: 45px;
	-webkit-border-bottom-right-radius: 45px;
	-moz-border-radius-topright: 45px;
	-moz-border-radius-bottomright: 45px;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
}